{
  "http_interactions": [
    {
      "recorded_at": "2017-09-13T18:40:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "attachments%5Buris%5D=True&constraints%5Bcallsigns%5D%5B0%5D=NOTAREALCALLSIGN&api.token=<PHAB_AUTH_TOKEN>"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "GET",
        "uri": "https://phabricator-dev.allizom.org/api/diffusion.repository.search"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"result\":{\"data\":[],\"maps\":{},\"query\":{\"queryKey\":null},\"cursor\":{\"limit\":100,\"after\":null,\"before\":null,\"order\":null}},\"error_code\":null,\"error_info\":null}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://phabricator-dev.allizom.org/api/diffusion.repository.search"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}