{
  "http_interactions": [
    {
      "recorded_at": "2017-09-13T18:40:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "attachments%5Buris%5D=True&constraints%5Bcallsigns%5D%5B0%5D=MOZILLACENTRAL&api.token=<PHAB_AUTH_TOKEN>"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "GET",
        "uri": "https://phabricator-dev.allizom.org/api/diffusion.repository.search"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"result\":{\"data\":[{\"id\":2,\"type\":\"REPO\",\"phid\":\"PHID-REPO-myz5mwsn6hrgkxn2ndos\",\"fields\":{\"name\":\"mozilla-central\",\"vcs\":\"hg\",\"callsign\":\"MOZILLACENTRAL\",\"shortName\":\"mozilla-central\",\"status\":\"active\",\"isImporting\":false,\"spacePHID\":null,\"dateCreated\":1503687796,\"dateModified\":1503931065,\"policy\":{\"view\":\"users\",\"edit\":\"admin\",\"diffusion.push\":\"users\"}},\"attachments\":{\"uris\":{\"uris\":[{\"id\":\"30\",\"type\":\"RURI\",\"phid\":\"PHID-RURI-ybzshklnq3futeflfnjx\",\"fields\":{\"repositoryPHID\":\"PHID-REPO-myz5mwsn6hrgkxn2ndos\",\"uri\":{\"raw\":\"https:\\/\\/hg.mozilla.org\\/mozilla-central\",\"display\":\"https:\\/\\/hg.mozilla.org\\/mozilla-central\",\"effective\":\"https:\\/\\/hg.mozilla.org\\/mozilla-central\",\"normalized\":\"hg.mozilla.org\\/mozilla-central\"},\"io\":{\"raw\":\"observe\",\"default\":\"none\",\"effective\":\"observe\"},\"display\":{\"raw\":\"never\",\"default\":\"never\",\"effective\":\"never\"},\"credentialPHID\":null,\"disabled\":false,\"builtin\":{\"protocol\":null,\"identifier\":null},\"dateCreated\":\"1503698511\",\"dateModified\":\"1503698511\"}},{\"id\":\"13\",\"type\":\"RURI\",\"phid\":\"PHID-RURI-7ytbcvhqp4udmt3gyglp\",\"fields\":{\"repositoryPHID\":\"PHID-REPO-myz5mwsn6hrgkxn2ndos\",\"uri\":{\"raw\":\"ssh:\\/\\/id\",\"display\":\"ssh:\\/\\/phabricator-dev.allizom.org\\/diffusion\\/2\\/mozilla-central\\/\",\"effective\":\"ssh:\\/\\/phabricator-dev.allizom.org\\/diffusion\\/2\\/mozilla-central\\/\",\"normalized\":\"phabricator-dev.allizom.org\\/diffusion\\/2\"},\"io[...]
