{
  "http_interactions": [
    {
      "recorded_at": "2017-09-13T18:40:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api.token=api-invalidxxxxxxxxxxxxxxxxxxxxx"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "GET",
        "uri": "https://phabricator-dev.allizom.org/api/user.whoami"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"result\":null,\"error_code\":\"ERR-INVALID-AUTH\",\"error_info\":\"API token \\\"api-invalidxxxxxxxxxxxxxxxxxxxxx\\\" is not valid.\"}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://phabricator-dev.allizom.org/api/user.whoami"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}