{
  "http_interactions": [
    {
      "recorded_at": "2017-09-13T18:40:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api.token=<PHAB_AUTH_TOKEN>"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "GET",
        "uri": "https://phabricator-dev.allizom.org/api/user.whoami"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"result\":{\"phid\":\"PHID-USER-nxwwdwtsc73zljhkhnvm\",\"userName\":\"smacleod\",\"realName\":\"Steven MacLeod\",\"image\":\"https:\\/\\/d1ro22lwo621zr.cloudfront.net\\/file\\/data\\/wp64jhpisuvzjqjy2p2q\\/PHID-FILE-gg3qymqy2tkujljfykmf\\/alphanumeric_lato-white_S.png-_50959b-255%2C255%2C255%2C0.7.png\",\"uri\":\"https:\\/\\/phabricator-dev.allizom.org\\/p\\/smacleod\\/\",\"roles\":[\"verified\",\"approved\",\"activated\"],\"primaryEmail\":\"smacleod@mozilla.com\"},\"error_code\":null,\"error_info\":null}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://phabricator-dev.allizom.org/api/user.whoami"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}